body{
    margin: 0; 
    background: rgb(26, 24, 24);
}

* {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


.experience,
.projects,
.tech span,
.date {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco,
                 Consolas, Liberation Mono, Courier New, monospace;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    font-family: 'Inter', system-ui, sans-serif;

    top: 0;
    left: 0;
    width: 100%;

    color: white;
    background-color: darkcyan;
    padding: 10px 20px;
    border-bottom: solid;

}

.name{
    margin: 0;
}

.left-side, .right-side{ 
    display: flex;   
    gap: 40px;
    font-size: 20px;
    text-decoration: none;
}

.header a svg{
    position: relative;
    top: 4px;
}
    

.header a,
.header a:visited {
    color: white;
    padding: 6px 10px; 
    text-decoration: none;
    border-radius: 6px;

    display: flex;
    align-items: center;
    gap: 8px;

    transition: color 0.2s ease,;
    background-color: 0.2s ease;
}


.middle-page{
    margin-top: 80px;
}

.header a:hover{
    color: rgb(71, 69, 69);
    background-color: rgba(255, 255, 255, 0.2);
    
}
.graduation{
    width: 20rem;
    height: 25rem;
    
    
    transform: rotate(-10deg);
    margin-left: 80px;
    
}

.baby{
    width: 20rem;
    height: 25rem;
    border-radius: 5%;
    border: dashed white;
    transform: rotate(270deg);

   margin-right: 50px;
}


.jokic{
    width: 27rem;
    height: 20rem;
    
   
    transform: rotate(10deg);
    margin-left: 10px;
}




.grad-section{
    display: flex;
    gap: 60px;
    /* align-items: center; */
    padding-top: -15%;
     
}

.ab-container > h3{
    text-align: center;
    font-size: 1.5rem;
    margin-top: -40px;
}



.about-me{
   font-family: ui-monospace, SFMono-Regular, Menlo, Monaco,
                 Consolas, Liberation Mono, Courier New, monospace;
   
    color: rgb(236, 240, 240);
  
    border: .05rem solid rgb(170, 168, 168);
    background: rgb(26, 24, 24);
    font-size: 1.2rem;
    align-items: center;
    width: 23.5rem;
    height: 23rem;
    text-align: center;
}

.ab-title{
    color: rgb(34, 201, 201);
}

.ab-header{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;

}

.experience{
    margin-top: 120px;
    padding: 0 80px;
    color: white;
}

.experience h2{
    margin-bottom: 20px;
    font-size: 2rem;
}

.experience-card{
    background: rgb(26, 24, 24);
    border: .5px solid rgb(161, 156, 156);
    padding: 25px;
    margin-bottom: 25px;
}

.experience-header{
    display: flex;
    justify-content: space-between;
}


.experience-title{
    display: flex;
    gap: 10px;
    color: rgb(34, 201, 201);
}

.experience-title h3 {
    margin-top: -.5px ;
}


.tech {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tech span{
    padding: 6px 10px;
    font-size: 14px;
    background-color: rgb(94, 94, 94);
    color: rgb(34, 201, 201);
}

.projects{
    margin-top: 15px;
    padding: 0 80px;
    color: white;
}

.projects h2{
    margin-bottom: 20px;
    font-size: 2rem;
}

.project-header{
    display: flex;
    gap: 10px;
    color: rgb(34, 201, 201);
}

.project-header h3{
    margin-top: -.5px ;
}

.project-card{
    background: rgb(26, 24, 24);
    border: .5px solid rgb(161, 156, 156);
    padding: 25px;
    margin-bottom: 10px;
    transition: color 0.2s ease;
}

.card-bottom{
    display: flex;
    justify-content: space-between;
}

.card-bottom svg:hover{
    color: rgb(34, 201, 201);
}

#card:hover{
     border: .5px solid rgb(34, 201, 201);
    
}

.project-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 60px;
}

.bottom-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 40px;

}

.bottom-section a{
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, Liberation Mono, Courier New, monospace;
    padding: 6px 10px;

    font-size: 15px;
    background: rgb(26, 24, 24);
    border: .5px solid rgb(161, 156, 156);
    color: rgb(34, 201, 201);

    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: color 0.2s ease;

}

.bottom-section a:hover{
    border-color: rgb(34, 201, 201) ;
}

.bottom-section a svg{
    position: relative;
    width: 20px;
    height: 20px;

}


.project-group a,.project-group a:visited{
    text-decoration: none;
    
}

.project-card p {
    color: white;
}

.card-bottom svg {
    color: white;
    transition: color 0.2s ease;
}


