body{
    margin: 0; 
    background: rgb(73, 69, 69);
}

* {
    box-sizing: border-box;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    top: 0;
    left: 0;
    width: 100%;

    color: white;
    background-color: darkcyan;
    padding: 10px 20px;
    border-bottom: dashed;

}



.name{
    
    margin: 0;
}

.left-side, .right-side{ 
    display: flex;   
    gap: 40px;
    font-size: 20px;
    text-decoration: none;
}

.header a,
.header a:visited {
    color: white;
    padding: 6px 10px; 
    text-decoration: none;
    border-radius: 6px;

    transition: color 0.2s ease,;
    background-color: 0.2s ease;
}


.middle-page{
    margin-top: 80px;
}

.header a:hover{
    color: gray;
    background-color: rgba(255, 255, 255, 0.2);
    
}
.graduation{
    width: 20rem;
    height: 25rem;
    border-radius: 5%;
    border: dashed white;
    transform: rotate(-10deg);
    margin-left: 80px;
    
}

.baby{
    width: 20rem;
    height: 25rem;
    border-radius: 5%;
    border: dashed white;
    transform: rotate(270deg);

   margin-right: 50px;
}

.cousins{
    width: 20rem;
    height: 25rem;
    border-radius: 5%;
    border: solid white;
    transform: rotate(10deg);
}

.jokic{
    width: 27rem;
    height: 20rem;
    border-radius: 5%;
    border: dashed white;
    transform: rotate(10deg);
    margin-left: 10px;
}

.scott{
    width: 20rem;
    height: 25rem;
    border-radius: 5%;
    border: dashed white;
    transform: rotate(10deg);
    margin-left: 80px;
    margin-right: 27px;
    margin-top: 10px
}

.f1{
    width: 27rem;
    height: 20rem;
    border-radius: 5%;
    border: dashed white;
    transform: rotate(10deg);
    margin-left: 80px;
}



.grad-section{
    display: flex;
    gap: 60px;
    /* align-items: center; */
    padding-top: -15%;
     
}

.ab-container > h3{
    text-align: center;
    font-size: 1.5rem;
    margin-top: -40px;
}



.about-me{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 10%;
    border: solid white;
    background-color: rgb(79, 187, 187);
    font-size: 1.25rem;
    align-items: center;
    width: 22rem;
    height: 25rem;
    text-align: center;
}

.ab-header{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;

}

.skills{
    display: flex;
    gap: 60px;
}

.tech-container > h3{
    text-align: center;
    font-size: 1.5rem;
    margin-top: -40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
;
}


.tech-skills{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 10%;
    border: solid white;
    background-color: rgb(79, 187, 187);
    font-size: 1.25rem;
    align-items: center;
    width: 23rem;
    height: 15rem;
    text-align: center;
}