body{
    margin: 0; 
    background: rgb(32, 30, 30);
}

* {
    box-sizing: border-box;
}

.experience,
.projects,
.tech span,
.date {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco,
                 Consolas, Liberation Mono, Courier New, monospace;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    font-family: 'Inter', system-ui, sans-serif;

    top: 0;
    left: 0;
    width: 100%;

    color: white;
    background-color: darkcyan;
    padding: 10px 20px;
    border-bottom: solid;

}



.name{
    
    margin: 0;
}

.left-side, .right-side{ 
    display: flex;   
    gap: 40px;
    font-size: 20px;
    text-decoration: none;
}

.header a svg{
    position: relative;
    top: 4px;
}
    

.header a,
.header a:visited {
    color: white;
    padding: 6px 10px; 
    text-decoration: none;
    border-radius: 6px;

    transition: color 0.2s ease,;
    background-color: 0.2s ease;
}


.middle-page{
    margin-top: 80px;
}

.header a:hover{
    color: gray;
    background-color: rgba(255, 255, 255, 0.2);
    
}
.graduation{
    width: 20rem;
    height: 25rem;
    border-radius: 5%;
    border: 1px solid white;
    transform: rotate(-10deg);
    margin-left: 80px;
    
}

.baby{
    width: 20rem;
    height: 25rem;
    border-radius: 5%;
    border: dashed white;
    transform: rotate(270deg);

   margin-right: 50px;
}


.jokic{
    width: 27rem;
    height: 20rem;
    border-radius: 5%;
    border: 1px solid white;
    transform: rotate(10deg);
    margin-left: 10px;
}




.grad-section{
    display: flex;
    gap: 60px;
    /* align-items: center; */
    padding-top: -15%;
     
}

.ab-container > h3{
    text-align: center;
    font-size: 1.5rem;
    margin-top: -40px;
}



.about-me{
    font-family: 'Inter', system-ui, sans-serif;
   
    color: white;
    border-radius: 10%;
    border: solid white;
    background-color: rgb(79, 187, 187);
    font-size: 1.25rem;
    align-items: center;
    width: 23rem;
    height: 23rem;
    text-align: center;
}

.ab-header{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;

}

.experience{
    margin-top: 120px;
    padding: 0 80px;
    color: white;
}

.experience h2{
    margin-bottom: 20px;
    font-size: 2rem;
}

.experience-card{
    background: rgb(32, 30, 30);
    border: 1px solid white;
    padding: 25px;
    margin-bottom: 25px;
}

.experience-header{
    display: flex;
    justify-content: space-between;
}


.experience-title{
    display: flex;
    gap: 10px;
    color: darkcyan;
}

.experience-title h3 {
    margin-top: -.5px ;
}


.tech {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tech span{
    padding: 6px 10px;
    font-size: 14px;
    background-color: gray;
    color: darkcyan;
}